.store-wrapper {
  &:last-of-type {
    margin-bottom: 20px;
  }

  .store {
    box-sizing: border-box;
    padding: 10px;

    h2 {
      margin-top: 0px;
    }

    .label {
      margin-top: 5px;
    }
  }

  .selected-store {
    background-color: lighten(#ccc, 10);
  }
}