<div class="container-fluid">
  <div class="row">
  	<div class="col-md-8 text-justify">
  		<h1>About</h1>
  		
  		<p>Looking for home-style cooking and freshly prepared juices and ice cream with a tropical flair?  El Coco Loco is here to serve up an array of delicious eat-in or take-out Cuban and Latin American specialties at very reasonable prices.</p>
 
		<p>Open every day for breakfast, lunch and dinner, El Coco Loco offers a varied menu, including items such as hearty ham and egg breakfast, traditional Cuban sandwiches, complete roast pork meals, natural freshly squeezed juices, baked pastries or bread, and artisanal ice cream or sorbet treats, all prepared using only the freshest, highest quality ingredients.</p>

		<p>Party platters are also available as special orders for your larger celebrations.</p>

		<p>At El Coco Loco you will experience the convenience of home cooking using traditional recipes and we’ll serve you generous portions of your favorites at great prices.  Whether it’s breakfast, lunch, dinner, dessert, ice cream or a natural freshly prepared juice drink, El Coco Loco offers it all from morning ‘til evening! We’re sure you, your friends and family will love the food and the convenience.</p>

		<p>Come on by, we’d like for you to get to know us.</p>
  	</div>
  	<div class="col-md-4">
  		
  	</div>
  </div>
</div>