<div class="store-profile">
	<div background-image background-img="" class="cover-photo">
		<div class="name"></div>
	</div>

	<div class="row">
		<div class="col-md-5 col-md-push-7">
			<gm-map gm-map-id="'elCocoLocoLocationMap'" class="map">
        	</gm-map>
		</div>

		<div class="col-md-7 col-md-pull-5">
			<div class="general-info">
				<h2>Hours</h2>

				<h2>More Photos</h2>

				<a ui-sref="menu" class="btn btn-block block-center btn-primary">See Menu</a>
			</div>
		</div>
	</div>
</div>

