<div class="store-wrapper">
<div class="store" ng-class="{'selected-store': store.selected}">
  <!-- <a ui-sref=".store({store : store.name})"><h2>{{store.name}}</h2></a> -->
  <div class="clearfix">
    <span ng-if="store.nowOpen" class="pull-right label label-success">Now Open</span>
    <span ng-if="!store.nowOpen" class="pull-right label label-danger">Coming Soon</span>
    <h2>
      {{store.name}}
    </h2>
  </div>
  <p class="address">
    <span class="specific">{{store.address.number}} {{store.address.street}}</span>
    <span class="general">{{store.address.city}}, {{store.address.state}} {{store.address.zip}}</span>
  </p>

  <p class="hours">
    <span ng-repeat="day in store.hours track by day.name">{{day.open}} AM - {{day.close}} PM Daily</span>
  </p>

  <p class="contact">{{store.contact}}</p>

  <a class="btn btn-info center-block"
    target="_blank"
    href="https://maps.google.com?daddr={{store.address.number}}+{{store.address.street}}+{{store.address.city}}+{{store.address.state}}+{{store.address.zip}}">Get Directions</a>
</div>
<div ng-transclude></div>
</div>
