// Carousel Styling
.home-container {

  .carousel-wrapper {
    height: 450px !important;

    .carousel {
      height: inherit;
    }

    .carousel-inner {
      height: inherit;

      .item {
        height: inherit;
      }

      $foods: ('arepas', 'chicharrones', 'coconuts', 'tostones', 'juice', 'pastelitos', 'empanadas');
      @each $food in $foods {
        .#{$food} {
          background-image: url(asset-path('#{$food}.jpg', image)) !important;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;

          width: inherit;
          height: inherit;
        }
      }

      // $countries: ('cuba', 'colombia', 'venezuela', 'nicaragua', 'chicharrones', 'bananas', 'juice', 'pastelitos', 'helado');
      // @each $country in $countries {
      //   .#{$country} {
      //     background-image: url(asset-path('#{$country}.jpg', image)) !important;
      //     background-size: cover;
      //     background-position: center center;
      //     background-repeat: no-repeat;

      //     width: inherit;
      //     height: inherit;
      //   }
      // }
    }
  }


  // Highlights for homepage styling
  .highlights-wrapper {
    margin-top: 20px;
    padding: 0px 12px;
    box-sizing: border-box !important;

    .highlight {
      height: 160px;
      background: $coco-green;
      background-clip: content-box;

      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */

      padding: 0px 2px !important;
    }
  }
}