// Carousel Styling
.home-container {

  .carousel-wrapper {
    // height: 450px !important;
    height: 500px !important;
    margin-top: -145px;
    z-index: -1 !important;

    .carousel-indicators, .carousel-control {
      display: none;
    }

    .carousel {
      height: inherit;
      z-index: -1 !important;
    }

    .carousel-inner {
      height: inherit;

      .item {
        height: inherit;
      }

      $foods: ('arepas', 'chicharrones', 'coconuts', 'tostones', 'juice', 'pastelitos', 'empanadas', 'espuma', 'oranges', 'icecream');
      @each $food in $foods {
        .#{$food} {
          background-image: url(asset-path('#{$food}.jpg', image)) !important;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;

          width: inherit;
          height: inherit;
        }
      }

      // $countries: ('cuba', 'colombia', 'venezuela', 'nicaragua', 'chicharrones', 'bananas', 'juice', 'pastelitos', 'helado');
      // @each $country in $countries {
      //   .#{$country} {
      //     background-image: url(asset-path('#{$country}.jpg', image)) !important;
      //     background-size: cover;
      //     background-position: center center;
      //     background-repeat: no-repeat;

      //     width: inherit;
      //     height: inherit;
      //   }
      // }
    }
  }

//   .highlights:before {
//     content: "";
//     width: 0;
//     height: 0;
//     border-style: solid;
//     border-width: 50px 0 0 100vw;
//     border-color: transparent transparent transparent $coco-white;
//     line-height: 0px;
//     _border-color: #000000 #000000 #000000 #ffffff;
//     _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
//     position: relative;
//     top: 0;
//     left: 0;
//   }


// .highlights:after {
//   content: "";
//   width: 0;
//   height: 0;
//   border-style: solid;
//   border-width: 0 100vw 50px 0;
//   border-color: transparent $coco-white transparent transparent;
//   line-height: 0px;
//   _border-color: #000000 $coco-white #000000 #000000;
//   _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
//   position: relative;
//   bottom: 0;
//   right: 0;
// }

  .highlights-wrapper .highlight {
    h1 {
      font-size: 30px;
    }
  }

  /* Custom, iPhone Retina */
  @media only screen and (min-width : 320px) {
    .highlights {
      background: $coco-white;
      margin-top: -50px;
      padding: 20px 0 50px 0;
      width: 100%;
    }

    .highlights-wrapper {
      box-sizing: border-box !important;
      // margin-top: 20px;
      padding: 0px 12px;

      .highlight {
        display: table;
        height: 80px;
        // background: $coco-green;
        // background-clip: content-box;

        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */

        padding: 0px 16px !important;
        text-align: center;

        a {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) {
    .highlights {
      padding: 20px 0;
    }

    .highlights-wrapper .highlight {
      height: 100px;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    .highlights {
      padding: 50px 0;
    }

    .highlights-wrapper .highlight {
      height: 100px;
    }
  }
}