// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 70px;
  padding-bottom: 100px;
  background-color: $coco-white;
  font-family: 'Yanone Kaffeesatz','Helvetica',Arial,sans-serif;
  font-size: 20px;
}