<!DOCTYPE html>
<html>
<head>
  <title>El Coco Loco</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="elCocoLocoApp">
  <header class="container-fluid">
    <nav class="navbar navbar-default" role="navbar">
      <div class="navbar-header visible-xs">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cocoNav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo mobile visible-xs-block" ui-sref="home"></a>
      </div>

      <a class="navbar-brand center-brand logo hidden-xs" ui-sref="home"></a>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="cocoNav">
        <ul class="nav navbar-nav navbar-left">
          <li><a ui-sref="menu">Menu</a></li>
          <li><a ui-sref="menu">About</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a ui-sref="locations">Locations</a></li>
          <li><a ui-sref="menu">Language</a></li>
        </ul>
      </div>
    </nav>
  </header>

<%= yield %>
<%= javascript_include_tag 'application' %>

  <footer class="container-fluid">
  </footer>

</body>
</html>
