<!DOCTYPE html>
<html>
<head>
  <title>El Coco Loco</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="elCocoLocoApp">
  <div class="container">
  <header>
    <nav class="navbar" role="navbar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cocoNav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="home">El Coco Loco</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="cocoNav">
        <ul class="nav navbar-nav">
          <li><a ui-sref="menu">Menu</a></li>
          <li><a ui-sref="about">About</a></li>
          <li><a ui-sref="locations">Locations</a></li>
          <li><a ui-sref="menu">Language</a></li>
        </ul>
      </div>
    </nav>
  </header>
</div>

<%= yield %>
<%= javascript_include_tag 'application' %>

  <footer>
  </footer>

</body>
</html>
